/* General body style */
body {
    background: url('imagenes/Index.png') no-repeat center center fixed;
    background-size: cover;
    /* Ajustar la imagen al tamaño de la pantalla */
    color: #ffffff;
    /* Texto blanco */
    font-family: 'Arial', sans-serif;
    /* Familia de fuente */
    margin: 0;
    /* Eliminar márgenes por defecto */
    height: 100vh;
    /* Altura completa de la vista */
}

/* Navbar style */
.navbar {
    background: rgba(0, 0, 0, 0);
    /* Fondo transparente */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #ff5722;
    /* Texto naranja */
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    /* Quitar viñetas */
    margin: 0;
    /* Eliminar márgenes */
    padding: 0;
    /* Eliminar padding */
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: #ffffff;
    /* Texto blanco */
    text-decoration: none;
    /* Quitar subrayado */
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
    /* Subrayado al pasar el ratón */
}

.search-container {
    display: flex;
    align-items: center;
}

.form-control {
    background-color: transparent;
    /* Fondo transparente */
    border: 1px solid rgba(255, 255, 255, 0.5);
    /* Borde ovalado y semi-transparente */
    border-radius: 20px;
    /* Esquinas redondeadas */
    padding: 0.5rem;
    margin-right: 0.5rem;
    color: #ffffff;
    /* Texto blanco */
    box-shadow: none;
    /* Eliminar sombra */
    height: 2.5rem;
    /* Altura fija */
    width: 300px;
    /* Ancho fijo */
}


.form-control::placeholder {
    color: #9e9e9e;
    /* Color del texto del placeholder */
}

.btn-search {
    background-color: rgba(36, 133, 173);
    /* Fondo del botón semitransparente */
    color: #ffffff;
    /* Texto del botón */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    /* Esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    cursor: pointer;
    /* Cursor de puntero */
    transition: background-color 0.3s, box-shadow 0.3s;
    /* Transición suave */
}

.btn-search:hover {
    background-color: rgba(21, 101, 192, 0.7);
    /* Fondo del botón al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra más fuerte al pasar el ratón */
}

.cart-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.cart-icon span {
    background-color: #e53935;
    /* Fondo del contador */
    color: #ffffff;
    /* Texto blanco del contador */
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 0.8rem;
}

.user-icon img {
    width: 24px;
    height: 24px;
}

.nav-links li a,
.btn-search {
    transition: transform 0.2s, opacity 0.2s;
}

.nav-links li a:hover,
.btn-search:hover {
    transform: scale(1.05);
    /* Escala al pasar el ratón */
    opacity: 0.9;
    /* Opacidad al pasar el ratón */
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    height: 150vh;
    /* Ajusta la altura al 100% de la altura del viewport */
    /* Puedes eliminar justify-content y align-items para no centrar los elementos hijos */
}


.main-content h1 {
    font-size: 3rem;
    margin-bottom: -0.2rem;
    text-rendering: optimizeLegibility;
    /* Optimización del renderizado del texto */
    -webkit-font-smoothing: antialiased;
    /* Suavizado de bordes en navegadores WebKit */
    -moz-osx-font-smoothing: grayscale;
    /* Suavizado de bordes en macOS */
}

.main-content h1 span {
    color: #ff5722;
    /* Texto naranja */
}

.main-content p {
    font-size: 1rem;
    margin-bottom: 2rem;
    max-width: 600px;
    text-rendering: optimizeLegibility;
    /* Optimización del renderizado del texto */
    -webkit-font-smoothing: antialiased;
    /* Suavizado de bordes en navegadores WebKit */
    -moz-osx-font-smoothing: grayscale;
    /* Suavizado de bordes en macOS */
}

.main-content .btn {
    background-color: transparent;
    /* Fondo transparente */
    color: #ffffff;
    /* Texto del botón en color blanco */
    border: 2px solid tomato;
    /* Borde de color tomate */
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    /* Esquinas medio ovaladas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    cursor: pointer;
    /* Cursor de puntero */
    margin: 0.5rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    /* Transición suave */
}

.main-content .row {
    display: flex;
    /* Mostrar elementos en fila */
    gap: 11rem;
    /* Espacio entre elementos en la fila */
}

body {
    background-color: #333;
    /* Fondo oscuro para resaltar el ícono blanco */
    color: white;
    /* Texto blanco */
}

a {
    color: white;
    /* Color del enlace */
    text-decoration: none;
    /* Sin subrayado */
    font-size: 24px;
    /* Tamaño del texto */
}

a:hover {
    color: #ccc;
    /* Color del enlace al pasar el cursor */
}